<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>Gauche</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>  
		<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/map.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhvWvwmJ8clstnuG4S4I2JeCb6bvDF824&libraries=places"></script>
		<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="underscore/underscore-min.js"></script>
		<script type="text/javascript" src="/js/map.js"></script>
  </head>
	<body>

<!-- BEGIN LOGIN MODAL -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <!-- START INNER MODAL -->
        
      <div class="row" id="containingRow">
      <div class="col-md-12 col-sm-6">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <a href="#" class="active" id="login-form-link">Login</a>
              </div>
              <div class="col-xs-6">
                <a href="#" id="register-form-link">Sign Up</a>
              </div>
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
              <!-- BEGIN LOGIN FORM -->
                <form id="login-form" action="/login" method="post" role="form" style="display: block;">
                  <div class="form-group">
                    <input type="text" name="user[email]" id="userEmail" tabindex="1" class="form-control" placeholder="email" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="user[password]" id="password" tabindex="2" class="form-control" placeholder="password">
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                      </div>
                    </div>
                  </div>
                </form>
                <!-- END LOGIN FORM -->
                <!-- START SIGNUP FORM -->
                <form id="register-form" action="/users" method="post" role="form" style="display: none;">
                  <div class="form-group">
                    <input type="text" name="user[email]" id="userEmailSignup" tabindex="1" class="form-control" placeholder="email" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="user[password]" id="signupPassword" tabindex="2" class="form-control" placeholder="password">
                  </div>
                  <div class="form-group">
                    <input type="password" name="user[password_confirmation]" id="confirmSignupPassword" tabindex="2" class="form-control" placeholder="confirm password">
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Sign Up">
                      </div>
                    </div>
                  </div>
                </form>
                <!-- END SIGNUP FORM -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END INNER MODAL -->
    </div>
  </div>
</div>

<!-- END LOGIN MODAL -->

<!--  BEGIN CONTAINER -->
		<div class="container-fluid">
			<div class="row">

        <div class="col-xs-9 col-md-9" id="left">
              <div id="map-canvas"></div>
            <input id="pac-input" class="controls" type="text" placeholder="Search for an address">
          </div>


				<div class="col-xs-3 col-md-3" id="right">
        <div class="row" id="title"><div id="appTitleLogin">Gauche</div><hr></div>
        

          <div class="row" id="headerDiv">

            <div class="col-xs-9 col-sm-7 col-md-8" id="addressBar">&nbsp;
              <div id="addressDiv" class="ninja">&nbsp;</div>
            </div>
            <div class="col-xs-3 col-sm-5 col-md-4" id="postButtonDiv">&nbsp;
              <div id="pencilDiv" class="ninja">
                <a href="#" id="modalActivateButton" data-toggle="modal" data-target="#basicModal">Post <span class="glyphicon glyphicon-send"></span></a>
              </div>
            </div>

          </div>

 					<div id="sidebar-wrapper">
          <!-- <a href="#" id="register-form-link" data-toggle="modal" data-target="#loginModal">Register</a> -->
          </div>

	  			</div>   
				
	  		</div>	
	  	</div>

<!-- END CONTAINER -->

<!-- NEW POST MODAL CONFIG -->
	  	<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                     <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                          <h4 class="modal-title" id="myModalLabel"></h4>
                     </div>
                <div class="modal-body">

                <form method="post" id="post-form" action="/posts">

              <div id="placeID"></div>
              <div>
  						<input type="checkbox" name="post[shared]"> Shared Living Space? <span class="small">roommates, communal housing, etc.</span>
  						</div>
  						<div>
  						<select name="post[bedrooms]" form="post-form">
  						<option value=1>1</option>
  						<option value=2>2</option>
  						<option value=3>3</option>
  						<option value=4>4+</option>
  						</select>
  						Bedrooms
  						<span class="small">  (if shared, list only the rooms included in your rent)</span>
  						</div>
              <div>
  						<input type="text" name="post[place_id]" placeholder="PLACEID" id="placeIDbox">
              <input type="text" name="post[postalCode]"  id="postalCodebox">
  						</div>
  						<div>
    					<input type="text" id="moveInYearDiv" name="post[moveInYear]" placeholder="Move In Year">
  						</div>
 						<div>
 						$
    					<input type="text" id="monthlyRentDiv" name="post[monthlyRent]" placeholder="Monthly Rent"><span class="small">  (if shared, list only what you pay in rent)</span>
  						</div>
  						<div>
  						<input type="checkbox" name="post[allowsDogs]"> Dogs Allowed?
  						</div>
  						<div>
  						<input type="checkbox" name="post[allowsCats]"> Cats Allowed?
  						</div>

  						<button class="btn btn-primary" id="modalSubmitButton">Submit</button>
					</form>
                </div>
                </div>
           </div>
		</div>
<!-- END NEW POST MODAL CONFIG -->




	<script type="text/javascript" src="/js/app.js"></script>  			
	</body>


	<script type="text/template" id="sidebar-template">
	<div class="sidebarDivs" style="text-align:center;">
	<hr>
	
   		<% collection.forEach(function(item){ %>

  		<h6><div class="sidebarLine"><%= item %></div></h6>
   	<% }); %>
   		
  	</div>
  	</script>

  	<script type="text/template" id="sidebar-templateUNCHANGED">
	// <div style="text-align:center;">
 //   		<% collection.forEach(function(item){ %>
 //  		<hr>
 //  		<a href="#" class="btn btn-lg btn-success sidebarButtons" 
 //   data-toggle="modal"
 //   data-target="#basicModal"><h4><div class="sidebarAddress"><%= item %></div></h4></a>
		
 //   	<% }); %>
 //  	</div>
  	</script>


	<script type="text/template" id="modal-title-template">
   		<% collection.forEach(function(item){ %>
  		<%= item.title %>
   	<% }); %>
  	</div>
  	</script>


  	<script type="text/template" id="modal-placeID-template">
   		<% collection.forEach(function(item){ %>
  		<%= item.placeId %>
   	<% }); %>
  	</div>
  	</script>



</html>