/* all map containers must be full height */
html, body, .container-fluid, .row, .map { height: 100% }

html, body {
	overflow: hidden;
}

#map-canvas {
	width:100%;
  height: 100%;
 	height:calc(100% - 0px);
  z-index: 1;
}

#map-canvas .gm-style div:nth-of-type(2) a div{
  display: none;
}

#containingRow {
  max-height: 200px;
}

#left {
  background-color: RGBA(252, 110, 81, .8);
  text-align: center;
  height:100%;
  padding-right: 0;
}

#right {
  height:100%;
  background-color: RGBA(156, 196, 192, 1);
  color: white;
  text-align: center;
  overflow-y: scroll;
  border-left: 5px solid rgba(252, 110, 81, .4);
}

#title {
  min-height: 6em;
  max-height: 6em;
}

#appTitleLogin {
  margin-left: .1em;
  margin-top: .1em;
  margin-bottom: -.1em;
  font-size: 3em;
  font-family: lato;
  text-align: left;
}

#headerDiv {
  max-height: 3em;
}

#addressBar {
  font-size: 1.1em;
  text-align: left;
  min-height: 3em;
}

#pencilDiv {
  font-family: lato;
}

.small {
  font-size: .8em;
  color: grey;
}

.sidebarLine {
  font-family: lato;
}

#modalActivateButton {
  color: white;
  background-color: transparent;
  outline: 0;

}

.modal-body:not(#moveInYearDiv) {
  padding-left: 3em;
  margin-top: -18px;
}

#post-form div {
  margin: 1em;
}

#moveInYearDiv {
  margin-left: .8em;
}

#modalSubmitButton {
  background-color: RGBA(252, 110, 81, 1);
  border: none;
}

.ninja {
  display: none;
}


/*************LOGIN/SIGNUP MODAL********************/

.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: RGBA(252, 110, 81, .8);
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: RGBA(252, 110, 81, .8);
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: RGBA(252, 110, 81, 1);
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: RGBA(223, 122, 99, 1);
  border-color: RGBA(223, 122, 99, 1);
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: RGBA(252, 110, 81, .8);
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: RGBA(252, 110, 81, .8);
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: RGBA(223, 122, 99, 1);
  border-color: RGBA(223, 122, 99, 1);
}


#slider-range {
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 100px;
    z-index: 10;
    position: relative;
    left: 1%;
    top: 23%;
    margin: 0;
    padding: 0;
}




/*************************************/



/*@media (max-width: 575px){

	#pac-input {
		max-width: 50%;
	}
  #left {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 75%;
    overflow-y: scroll; 
  }
  
  #right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 25%;
  }

}*/