/* all map containers must be full height */
html, body, .container-fluid, .row, .map { height: 100% }

html, body {
	overflow: hidden;
}

#map-canvas {
	width:100%;
  height: 100%;
 	height:calc(100% - 0px);
  z-index: 10;
}

#right {
  background-color: #FC6E51;
  text-align: center;
  height:100%;
  padding-right: 0;
}

#left {
  height:100%;
  background-color: #4FC1E9;
  text-align: center;
  overflow-y: scroll;
}

/*************************************/



@media (max-width: 575px){

	#pac-input {
		max-width: 50%;
	}
  #right {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    width: 75%;
    overflow-y: scroll; 
  }
  
  #left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    width: 25%;
  }
}